{% block content %}
<div class="col-xs-12 col-sm-6 col-md-6">
	<a title="{{post.title}}" href="{{post.link}}">
		{% if post.thumbnail.src %}<img class="img-responsive post-image" src="{{post.thumbnail.src}}"/> {% endif %}
		<h2 class="post-title">{{post.title}}</h2>
		<p class="post-intro">{{post.content|excerpt(10)}}</p>
	</a>
</div>
{% endblock %}