<div class="container">
    <div class="section-white rounded row">
        <div class="col-xs-12 col-sm-3">
            <div>{{footer1}}</div>
        </div>
        <div class="col-xs-12 col-sm-3">
            <div>{{footer2}}</div>
        </div>
        <div class="col-xs-12 col-sm-3">
            <div>{{footer3}}</div>
            <br>
            <div>{{footer4}}</div>
        </div>
        <div class="col-xs-12 col-sm-3">
            <div>{{footer5}}</div>
        </div>
    </div>
</div>