<div id="site-canvas">
	<div id="site-menu">
		<nav id="nav-main" class="nav-offcanvas col-md-12" role="navigation">
			<section class="offcanvas-menu">
				<div class="col-xs-12">
					<form class="search search-form-offcanvas" action="{{site.link}}">
						<input type="search" class="search-box-offcanvas search-field" placeholder="Αναζήτηση" name="s">
					</form>
				</div>
        <div class="lang-wrapper col-xs-12">{{langbar}}</div>
				<br>
				<br>
				<ul class="offcanvas-nav nav">
					{% for item in menu.get_items %}
						{% if item.get_children %}
							<li class="nav-main-item dropdown root-menu-item-has-children {{item.classes | join(' ')}}"><a {% if item.target %} target="{{item.target}}" {% endif %} class="nav-main-link" href="{{item.link}}">{{item.title}}</a>
								{% if item.get_children %}
									<ul class="nav-drop dropdown-menu">
										{% for child in item.get_children %}
											{% if child.get_children %}
												<li class="dropdown-submenu submenu-item-has-children {{child.classes | join(' ')}}"><a {% if child.target %} target="{{child.target}}" {% endif %} href="{{child.link}}">{{child.title}}</a>
													{% if child.get_children %}
														<ul class="nav-drop dropdown-menu-sub">
															{% for grandchild in child.get_children %}
																<li class="nav-drop-item {{grandchild.classes | join(' ')}}"><a {% if grandchild.target %} target="{{grandchild.target}}" {% endif %} href="{{grandchild.link}}">{{grandchild.title}}</a></li>
															{% endfor %}
														</ul>
													{% endif %}
												</li>
											{% else %}
												<li class="dropdown-submenu"><a {% if child.target %} target="{{child.target}}" {% endif %} href="{{child.link}}">{{child.title}}</a>
											{% endif %}
										{% endfor %}
									</ul>
								{% endif %}
							</li>
						{% else %}
							<li class="nav-main-item dropdown {{item.classes | join(' ')}}"><a {% if item.target %} target="{{item.target}}" {% endif %} class="nav-main-link" href="{{item.link}}">{{item.title}}</a>
						{% endif %}
					{% endfor %}
				</ul>
			</section>
		</nav>
</div>